.App {
  text-align: center;
  width: 100vh;
  margin: 1rem auto;
  display: flex;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
 
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(11 112 231 / 5%) 0px 4px 10px;
  border-color: rgb(231, 235, 241);
}

.space {
  margin-bottom: 5%;
}
 
.btn {
 align-self: flex-end;
}

.table {
  text-align: center;
  width: 100%;
  margin: 1rem auto;
 }

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  padding: 5px 5px 25px 5px;
}


body {
  background: #fbfbfb;
  
}





